/* add your CSS here */
html {
  font-family: 'Roboto', sans-serif;
}

.mytitle{
  font-style: italic;
  color: blue;
  /* background-color: red; */
}

.header{
  /* background-color: blue; */
}

.Project{
  font-style: italic;
  color: red;
}

.mikepic{
  max-width: 100%;
  /* width: 30%;
  height: 30%; */

}

.projectimage{
  max-width: 100%
  /* width: 60%;
  height: 40%; */
}

/* CONTAINERS */

.image-container{
  /* background-color: green; */
}

.mywork-container{
  /* background-color: green; */
    display: flex;
    /* flex-wrap: wrap; */
}

.worktext-cotainer{
  max-width: 200px;
}

.project1-container{
  background-color: green;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.project2-container{
  background-color: red;
}

.project3-container{
  background-color: blue;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) and (max-width: 800px){
  body{background-color: blue;}
}

/* @media screen and (min-width: 800px) { */
  /* body{background-color: red;} */
}





/* ---------------- */

/* hr {
  border: 3px solid;
} */
/*
*#Animal-Card{
  border: 2px solid;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px gray;
}

.Animal-Name{
  font-style: italic;
}

.Picture{
  width: 300px;
}

.Animal-Information{
  padding: 10px;
  border: 1px solid
}

.interesting-fact{
  font-style: italic;

}

.list{
  list-style: none;
  padding-left: 0;
}

.line{
  font-weight: bold;
}

.description */
